{% import "bootstrap/wtf.html" as wtf %}
{% if base_html is defined %}{% extends base_html %}{% endif %}

{% block page_content %}

    <style>
        .output table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .output td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .output tr:nth-child(even) {
            background-color: #dddddd;
        }

        .output td.low {
            color: red;
        }
        .output td.hi {
            color: green;
        }
        .output td.na {
            color: grey;
        }
    </style>

    
    <!-- User input area --> 
    <h3>Input area</h3>
    <!-- {{ wtf.quick_form(form) }} -->

    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}

        <table class="input">
            <tr>
              <td> {{ form.passingTeams.label }} </td>
              <td> {{ form.passingTeams(size=60) }} </td>
            </tr>
            <tr>
              <td> {{ form.rushingTeams.label }} </td>
              <td> {{ form.rushingTeams(size=60) }} </td>
            </tr>
            <tr>
              <td> {{ form.receivingTeams.label }} </td>
              <td> {{ form.receivingTeams(size=60) }} </td>
            </tr>
            <tr>
              <td> {{ form.receivingTeams2.label }} </td>
              <td> {{ form.receivingTeams2(size=60) }} </td>
            </tr>
        </table>
        {{ form.submit() }} </td>
    </form>

    <!-- User output area --> 
    <table class="output">
    {% for data in scoresTable %}

            {% for col in headers %}
                {% if col %}
                    <th class="">{{col}}</th>
                {% else %}
                    <!-- Print the position in column 0 --> 
                    <th class="">{{data.pos}}</th>
                {% endif %}
            {% endfor %}
            {% for row in data.scores %}
                <tr>
                    {% for col in row %}
                        {% if col.name is defined %}
                            <td class="">{{col.name}}</td>
                        {% else %}
                            <td class={{col.tier}}>{{col.score}} {{col.opponent}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
    {% endfor %}
    </table>

    {{ content }}

{% endblock %}
